<.header>
  Organization <%= @organization.id %>
  <:subtitle>This is a organization record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/orgs/#{@organization}/edit"}>
      <.button>Edit organization</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @organization.name %></:item>
</.list>

<.back navigate={~p"/orgs"}>Back to organizations</.back>
